/* Schrijf hier je CSS */
.boardclass0{
  position: center;
  float: center;
  border: 2px solid black;
  text-align: center;
  border-spacing: 2px;
  color: white;
  background-color: #D8D8D8;
  font-size: 20px;
  width: 200px;
  height: 200px;
}

.boardclass1{
  position: center;
  float: center;
  border: 2px solid black;
  text-align: center;
  border-spacing: 3px;
  color: white;
  background-color: #D8D8D8;
  font-size: 20px;
  width: 400px;
  height: 400px;
}

.boardclass2{
  position: center;
  float: center;
  border: 2px solid black;
  text-align: center;
  border-spacing: 4px;
  color: white;
  background-color: #D8D8D8;
  font-size: 20px;
  width: 600px;
  height: 600px;
}

.boardclass3{
  position: center;
  float: center;
  border: 2px solid black;
  text-align: center;
  border-spacing: 4px;
  color: white;
  background-color: #D8D8D8;
  font-size: 20px;
  width: 800px;
  height: 800px;
}

.length{
  float: right;
}

.button{
  border-radius: 5px;
  border: 5px solid grey;
  background-color: grey;
  width: 100px;
}

.division{
  width:5px;
  height:auto;
  display:inline-block;
}

.clock{
  border: 8px solid gray;
  background-color: gray;
  font-size: 50px;
  border-radius: 15px;
  text-align: center;
  width: 280px;
}

.emptytile{
  background-color: #808080;
  font-size: 0px;
  width: 2.5em;
  height: 2.5em;
}

.snake{
  background-color: #00137F;
  font-size: 0px;
  width: 2.5em;
  height: 2.5em;
}

.food{
  background-color: #FF2828;
  font-size: 0px;
  width: 2.5em;
  height: 2.5em;
}

.deadTile{
  background-color: #B7000F;
  font-size: 0px;
  width: 2.5em;
  height: 2.5em;
}

.deadSnake{
  background-color: #7F000A;
  font-size: 0px;
  width: 2.5em;
  height: 2.5em;
}
